.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 20px;
    height: 20px;
    max-height: 70%;
    max-width: 70%;
    aspect-ratio: 1;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top:20px solid black;
    border-bottom: 20px solid black;
    animation-name: loader-animation ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border-radius: 100%;
}

@keyframes loader-animation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
