
.container {
    background-color: var(--silver-color-light);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    transition: all 0.2s;
    cursor: pointer;
    min-height: fit-content;
}

.heading {
    font-size: 17px;
    padding-bottom: 10px;
    text-align: center;
}

.chart {
    display: flex;
    width: 70%;
    min-width: 70%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: all 0.2s;
    background-image: var(--bg-image);
    animation-name: chart-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform-origin: center;
    background-color: gray;
}

@keyframes chart-animation {
    from {
      transform: scale(0) rotate(180deg);
    }
    to {
      transform: scale(1) rotate(0);
    }
}
 
.bullets-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    min-height: fit-content;
}
  

.bullet-text-wrapper {
    width: 50%;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px 0;
    min-height: fit-content;
    min-width: fit-content;
}

.bullet {
    min-width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}


.text {
    font-size: 15px;
    width: 100%;
}

.view {
    font-size: 20px;
    width: fit-content;
    margin-left: auto;
    font-weight: 100;
    opacity: 0.5;
    transition: opacity 0.2s;
    margin-top: auto;
}

.container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.container:hover .view {
    opacity: 1;
}