.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    width: 100%;
}

.top-part {
    display: flex;
    width: 100%;
    gap: 20px;
}

.top-left-part {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-right-part {
    width: 40%;
}

.top-left-top-part {
    display: flex;
    gap: 20px;
}

.top-left-top-left-part {
    width: 50%;
}

.top-left-top-right-part {
    width: 50%;
}

.bottom-part {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 1200px) {

    .top-left-part {
        width: 50%;
    }

    .top-right-part {
        width: 50%;
    }
    .top-left-top-part {
        flex-direction: column;
    }

    .top-left-top-left-part {
        width: 100%;
    }
    .top-left-top-right-part {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .top-part {
        flex-direction: column;
    }
    .top-left-part {
        width: 100%;
    }
    .top-right-part {
        width: 100%;
    }
    .bottom-part {
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    .container {
        padding: 10px;
    }
}