.container {
    padding: 40px;
}

.wrapper {
    width: 95%;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contents {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    text-align: right;
}

.content-2{
    display: flex;
}

.content-2 > div:first-child {
    width: 25%;
}

.field {
    width: 25%;
}

.value {
    font-weight: bold;
}

.image-container {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid silver;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.buttons-container {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 1000px) {
    .container {
        padding: 20px;
    }
}

@media screen and (max-width: 650px) {
    .container {
        padding: 10px;
    }
}